<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>admin dashboard</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
        <script src="/stylesheets/bootstrap/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>

      <header>

        <nav class="navigation">
            <a href="/">dashboard</a>
            <a href="/admin/centres">centres</a>
            <a href="/admin/users">users</a>
            <a href="/admin/add">Requests</a>
            <a href="/admin/index">Main</a>
            <a href="/admin/logout" >Logout</a>
        </nav>
      </header>